name: Automerge
on:
  pull_request:
    types: [ labeled ]
  workflow_run:
    workflows: [ validate-changes ]
    branches: [ dev, main ]
    types: [ completed ]

jobs:
    automerge:
      runs-on: ubuntu-latest
      steps:
        - uses: ahmadnassri/action-workflow-run-wait@v1
        - name: automerge
          uses: "pascalgn/automerge-action@v0.14.3"
          env:
            GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
            MERGE_LABELS: "automerge"
