name: MainCI
on:
  pull_request:
    types:
      - opened
      - labeled

  workflow_run:
    workflows: [validate-changes]
    types: [completed]
jobs:
  validate-changes:
    runs-on: ubuntu-latest
    # if: ${{ github.event_name == 'pull_request' && github.event.action == 'opened' }}
    steps:
      # - name: "Checkout code"
      #   uses: actions/checkout@v2
      #   with:
      #     ref: ${{ github.event.pull_request.head.ref }}
      # - name: Derive appropriate SHAs for base and head for `nx affected` commands
      #   uses: nrwl/nx-set-shas@v2
      # - uses: actions/setup-node@v1
      #   with:
      #     node-version: 16
      # - run: npm ci
      # - run: npx nx affected --target=build --parallel=2
      - run: echo '${{ toJSON(github.event) }}'

  automerge:
    runs-on: ubuntu-latest
    # if: ${{ github.event == "labeled" }}
    steps:
      - uses: ahmadnassri/action-workflow-run-wait@v1
      - name: automerge
        uses: "pascalgn/automerge-action@v0.14.3"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: "automerge"
